.sidebarWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.winFeedWrapper {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

.gameHeader {
  position: absolute;
  top: 15px;
  width: 100%;
  pointer-events: auto;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameHeader .logo {
  width: 200px;
  height: auto;
}

.gameFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: auto;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 4px;
  position: absolute;
  bottom: 19px;
  left: 17px;
}

.details p {
  font-weight: 600;
  color: #fff;
  margin: 0;
}

.riskSpan {
  margin-right: 8px;
  color: #0f0;
}

/* Show desktop panel, hide mobile panel by default */
.bonusPanelDesktop {
  display: block;
}
.bonusPanelMobile {
  display: none;
}

@media (max-width: 768px) {
  .gameHeader {
    top: 5px;
  }
  .gameHeader .logo {
    width: 150px;
  }
  .gameFooter {
    background: black;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 100px 16px 50px 16px;
  }
  .details {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    right: 20px;
    bottom: 40px;
  }

  /* Swap visibility on mobile */
  .bonusPanelDesktop {
    display: none;
  }
  .bonusPanelMobile {
    display: block;
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
  }
}
